<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign Task</title>
    <!--script type="javascript" src="../../static/lib/jquery-3.3.1.min.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('#numbers-btn').on('click')
    </script>
</head>
<body>
<h3>Task Estimation and Assignment</h3>
<form action="#" id="task-form">
    <div id="numbers">
        <label for="task-number">Number of tasks:</label>
        <input type="number" id="task-number" min="2" max="10" value="5">
        <label for="developer-numer">Number of developers:</label>
        <input type="number" id="developer-numer" min="2" max="10" value="3">
        <button id="numbers-btn">OK</button>
    </div>
    <div id="estimate">


    </div>
</form>
<script type="javascript" src="../../static/js/assign.js"></script>
</body>
</html>